@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');


body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
}

.navbar {
	border-bottom: 5px solid #009933;
	background-color: black;	
	font-weight: bold;
}

.nav-link {
	background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.nav-link:hover {
	background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.title {
	background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-weight: bolder;
}

.title:hover {
	background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#home {
	position: fixed;
	height: 100%;
	width: 100%;
	/*background-image: -moz-linear-gradient( 135deg, rgb(178, 244, 185) 0%, rgb(178, 242, 244) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(178, 244, 185) 0%, rgb(178, 242, 244) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(178, 244, 185) 0%, rgb(178, 242, 244) 100%);
    background-image: linear-gradient( 135deg, rgb(178, 244, 185) 0%, rgb(178, 242, 244) 100%);*/
    background: black;
}

header {
    padding: 100px 0 0;
    text-align: center;
}

.tagline {
	background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.navbar-item > li.active {
	border-bottom: 3px solid #009933;
}