@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    background-image: linear-gradient(100deg, rgb(178, 244, 185) 0%, rgb(178, 242, 244) 100%);
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.navbar {
    border-bottom: 3px solid #009933;
    background-color: black;
    font-weight: bold;
    width: 100%;
}

.nav-link {
    background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:hover {
    background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(178, 242, 244, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.pad {
    padding-top: 65px;
}

.title {
    background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.title:hover {
    background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home {
    background-image: -webkit-linear-gradient(top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.9) 100%),
        -webkit-linear-gradient(left,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.9) 100%),
        url(../img/pic6.png);

    background-image: -moz-linear-gradient(top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.9) 100%),
        -moz-linear-gradient(left,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.9) 100%),
        url(../img/pic6.png);

    background-image: -o-linear-gradient(top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.9) 100%),
        -o-linear-gradient(left,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.9) 100%),
        url(../img/pic6.png);

    background-image: linear-gradient(top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.9) 100%),
        linear-gradient(left,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.9) 100%),
        url(../img/pic6.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

header {
    padding: 100px 0 0;
    text-align: center;
    position: relative;
}

.tagline {
    background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#top-menu>ul>li>a:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid rgb(178, 244, 185);
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#top-menu>ul>li>a:hover:before,
#top-menu>ul>li.active>a:before {
    opacity: 1;
    top: 0;
}

.section-padding {
    padding: 30px 0;
}

.full-height {
    width: 100%;
    height: 100vh;
}

#sponsor {
    /*background: linear-gradient(to right, rgb(178, 242, 244), rgb(178, 244, 185));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
    color: white;
}

.logo {
    width: 20rem;
}

#home {
    font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.img-sep .img-sep-1 {
    width: 100%;
    position: relative;
}



@media screen and (max-width:767px) {

    .logo {
        width: 15rem;
    }

}